<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wooting keyboards</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <style>
    main {
      background-image: url("img/maxresdefault.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  </style>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="/productos">Productos</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="contenido">
        <h1>Wooting keyboards</h1>
        <p>Challenge the industry with us</p>
        <button>Pre-Order now</button>
      </div>
    </main>

    <section>
      <h2 class="wp">Wooting Products</h2>
      <section id="destacados" class="productos-container">
        <div class="producto" id="producto1">
          <img src="/img/Wooting 80HE.png" alt="Producto" />
          <h3>Wooting 80HE</h3>
          <p>Precio: $99</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button onclick="agregarAlCarrito('/productos')">
            Ir al producto...
          </button>
        </div>
        <div class="producto" id="producto2">
          <img src="/img/WOOTING 60HE+.png" alt="Producto" />
          <h3>WOOTING 60HE+</h3>
          <p>Precio: $99</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button onclick="agregarAlCarrito('/productos')">
            Ir al producto...
          </button>
        </div>
        <div class="producto" id="producto3">
          <img src="/img/WOOTING TWO HE.png" alt="Producto" />
          <h3>WOOTING TWO HE</h3>
          <p>Precio: $99</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button onclick="agregarAlCarrito('/productos')">
            Ir al producto...
          </button>
        </div>
        <div class="producto" id="producto4">
          <img src="/img/WOOTING 60HE+ module.png" alt="Producto 4" />
          <h3>WOOTING MODULE</h3>
          <p>Precio: $99</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button onclick="agregarAlCarrito('/productos')">
            Ir al producto...
          </button>
        </div>
        <div class="producto" id="producto5">
          <img src="/img/WOOTING UwU.png" alt="/Producto" />
          <h3>WOOTING UwU</h3>
          <p>Precio: $99</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button onclick="agregarAlCarrito('/productos')">
            Ir al producto...
          </button>
        </div>
      </section>
    </section>

    <footer>
      <p>Ningun derecho reservado.</p>
    </footer>
  </body>
</html>
